

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
  .card {
    display: inline-block;
    background-color: #7395AE;
    padding: 15px;

  }

  .card {
  border: 2px solid black;
  width: 250px;
  height: 400px;
  margin: 20px;
  border-radius: 15px;
}

  .scrolling-wrapper{
  height: 500px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;

}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
